# Bun
.bun/
.bun.lockb
.bunfig.toml

# Tailwind / CSS
public/css/output.css
public/css/output.css.map

# Logs
logs
*.log
bun-debug.log*

# Environment variables
.env
.env.*.local
.env.local

# Temporary files
*.tmp
*.swp
*.swo
.DS_Store

# VSCode and other editor config files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
**/.DS_Store

# Additional backups or OS-specific files
*.bak
Thumbs.db
